/* main.css */

/* Header styles */
header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.center-nav a{
  font-family: 'Playfair Display', serif;
  color: #000;
  font-size: 60px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap; /* This will prevent the name from breaking into two lines */
}
.center-nav {
  margin-left: 20px;
}

.left-nav, .center-nav, .right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-nav, .right-nav {
  flex: 1;
}

.left-nav ul, .right-nav ul {
  display: flex;
  flex-wrap: wrap; /* Add this line to prevent items from breaking into multiple lines */
  list-style: none; /* This removes bullet points */
  margin: 0;
  padding: 0;
}

.left-nav ul li a, .right-nav ul li a {
  font-family: 'Poppins', sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.right-nav {
  justify-content: flex-end; /* This will align the About link to the far right */
  margin-right: 20px;
}

.right-nav ul li:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid #000;
  padding-right: 10px;
}

.left-nav {
  justify-content: flex-start; /* This will align the About link to the far right */
}
.header-content h2 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
  text-align: center; /* Center align the h2 */
}

/* Main section styles */
main {
  text-align: center;
  padding: 20px;
}

.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-item:hover .item-overlay {
  opacity: 1;
}

.item-text {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 30px;
}

.square {
  grid-row-end: span 1;
}

.portrait-rectangle {
  grid-row-end: span 2;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 30px;
  color: #000;
  font-family: Arial, sans-serif;
}

/* Dropdown nav */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: fit-content; /* Adjust the width based on the content length */
  z-index: 1;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
}


.dropdown-content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
  border-bottom: 1px solid rgb(85, 85, 85);
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.dropdown:hover > a {
  font-weight: bold;
}

.about-link a:hover{
  font-weight: bold;
}

.dropdown-content a:hover {
  font-style: italic;
  font-weight: bold;
}


/* Responsive styles */

@media (max-width: 767px) {

  /* Navigation */

  nav ul {
    text-align: center;
  }

  .about-link {
    position: static;
    padding-left: 0;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }

  /* Main section */

  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-item {
    margin-bottom: 20px;
  }

  /* Header */

  .header-content {
    padding: 15px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
#back-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #8b8b8b;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#back-to-top-button:hover {
  background-color: #333;
}

