html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

body {
  font-family: 'Arial',Helvetica, sans-serif;
  background-color:#F7F2F0;
  margin: 0px 50px;
}


ul {
	list-style-type: none;
	margin: 0 ;
	padding: 0;
	overflow: hidden;
	color: #000;
	display: inline;
	
}

li {
	list-style: none;
	display: inline;
	color: #6c6c6c;

}

h1 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	text-align:center;
	font-size: 20px;
	letter-spacing: 3px;
	color: #000;
}

h2 {
	font-family: 'Century gothic', serif;
	text-align:center;
	font-size: 30px;
	color: #000;
	letter-spacing: 3px;

}

p {
	color: #000;

}
.proj-brief {
	text-align:center;
	font-size: 18px;
	color: #000;
	width: 60%;
	margin: 50px auto 50px;
	
}
.proj-content {
  text-align:center;
  font-size: 18px;
  color: #000;
  width: 60%;
  margin: 0px auto 50px;
  
}

li a {
	color: #6c6c6c;
	padding: 5px 5px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #000;
}

.proj-list {
	padding-bottom: 100px;
	letter-spacing: -0.2px;
}


.proj-list ul li + li:before {
    content: "/";
  }

.slogan {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 0px;
	position: relative;
	width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}


.column:hover .overlay {
	opacity: 0.6;
}

.text {
  color: white;
  font-size: 35px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-content{
	color: #bcbcbc;
	margin: 50px 0px;
}
.main-content p{
  text-align: justify;
}

.main-content img { 
	float: left;
	width: 30%;
	height: auto;
	padding: 0px 30px 20px 0;
}

.proj-image {
	margin: 0;
}

.proj-list {
	display: flex;
	justify-content: center;
}

.proj-video { 
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; }

.proj-video iframe, .proj-video object, .proj-video embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.responsive {
  width: 100%;
  height: auto;
}

.grid{
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 400px;
}


.sidebar-image-gallery{ 
	width: 1020px; 
	margin:0 auto;
	padding-bottom: 100px;


}
.sidebar-image-gallery img { 
	opacity: .7; 
} 

.sidebar-image-gallery img:hover{ 
	opacity: 1; 

}

/*navigation*/

.navbar {
  overflow: hidden;
  font-family: 'Calibri', sans-serif;
  background-color: #F7F2F0;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #000;
  text-align: right;
  padding: 2px 0px 0px 15px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #000;
  padding: 5px 15px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F2F0;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size: 12px; 
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #F7F2F0;
}

.dropdown:hover .dropdown-content {
  display: block;
}